<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arduino Blocks</title>
    <link rel="stylesheet" href="%STYLESHEET_BASE%">
    <link rel="stylesheet" href="%STYLESHEET_BLOCKS%">
    <link rel="stylesheet" href="%STYLESHEET_BUTTONS%">
    <link rel="stylesheet" href="%STYLESHEET_WORKSPACE%">
</head>
<body>
    <div id="blockPanel">
        <div class="block" data-type="variable" data-code="int variable = 0;">Variable Declaration</div>
        <div class="block" data-type="if" data-code="if (condition) {\n  // code\n}">If Statement</div>
        <div class="block" data-type="digitalWrite" data-code="digitalWrite(pin, HIGH);">Digital Write</div>
        <div class="block" data-type="setup" data-code="Инициализация">Setup Function</div>
        <div class="block" data-type="loop" data-code="Основная функция">Loop Function</div>
        <div class="block" data-type="variable" data-code="">Variable Declaration</div>
    </div>

    <div id="workspaceContainer">
        <div id="workspace">
            <!-- <div class="static-block" id="setupBlock" style="top: 100px; left: 100px;">void setup() {\n}</div>
            <div class="static-block" id="loopBlock" style="top: 200px; left: 100px;">void loop() {\n}</div> -->
        </div>
    </div>

    <button id="generateButton">Generate Arduino Code</button>
    <script type="text/javascript" src="%SCRIPTS_DRAGGABLE_BLOCK%"></script>
    <script type="text/javascript" src="%SCRIPTS_INSERT_BLOCK%"></script>
    <script type="text/javascript" src="%SCRIPTS_GENERATE_CODE%"></script>
    <script type="text/javascript" src="%SCRIPTS_EVENT_LISTENERS%"></script>

</body>
</html>
